@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400;1,600');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;1,400;1,600');
/* @import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville'); */

body {
	font-family: 'EB Garamond', 'Lora', 'Merriweather', Charter, Georgia, 'Helvetica Neue', Arial,
	'Songti SC', 'SimSun', 'Hiragino Sans GB','宋体', 'Microsoft YaHei',
	'STKaiti', 'Kai', 'Kaiti SC', 'KaiTi', 'KaiTi_GB2312', '楷体', sans-serif;
	font-weight: 400;
}

/*-apple-system, Avenir Next, */

code {
  font-family: 'Menlo', 'Monaco', 'Courier New',  'Courier', monospace;
  font-size: 14px;
}
